{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}Registrarse - SICARGA Box{% endblock %}

{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    {{ user_form.media }}
    {{ cliente_form.media }}
{% endblock %}

{% block content %}
    <div class="max-w-2xl mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6">
        <div id="register-form">
            <h2 class="text-2xl font-bold mb-4">Registrarse</h2>
            <form method="post"
                  hx-post="{% url 'register' %}"
                  hx-target="#register-form"
                  hx-swap="innerHTML"
                  class="space-y-4"
            >
                {% csrf_token %}
                {% for field in user_form %}
                    <div class="space-y-2">
                        <label for="{{ field.auto_id }}" class="block text-sm font-medium text-gray-400">
                            {{ field.label }}
                        </label>
                        {{ field|add_class:"input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900" }}
                        {% if field.errors %}
                            <div class="text-sm text-red-600">{{ field.errors.0 }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for field in cliente_form %}
                    <div class="space-y-2">
                        <label for="{{ field.auto_id }}" class="block text-sm font-medium text-gray-400">
                            {{ field.label }}
                        </label>
                        {{ field|add_class:"input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900" }}
                        {% if field.errors %}
                            <div class="text-sm text-red-600">{{ field.errors.0 }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-full mt-4">
                    Registrarse
                </button>
            </form>
            <div class="text-center mt-4">
                <a href="{% url 'login' %}" class="text-indigo-600 hover:text-indigo-700">¿Ya tienes una cuenta?
                    Inicia Sesión</a>
            </div>
        </div>
    </div>
{% endblock %}
